%h1-jumbo {
    font-size: 30px;
} 

%p-jumbo {
    font-size: 15px;
}

.container {
    padding-top: 20px;
}

.jumbotron {
    border-style: solid;
    border-width: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 200px;
    width: 500px;
}

img {
    border-style: dashed;
    border-width: 3px;
    height: 10em;
    width: 10em;
}

#monster {
    float: right;
}

#monster img {
    float: right;
}

#monster .desc {
    padding-right: 180px;
}

#monster .desc h1 {
    @extend %h1-jumbo;
    float: right;
}

#monster .desc p {
    @extend %p-jumbo;
    float: right;
}

#monster .desc #health p {
    float: right;
    
}

#trainer {
    margin-top: 220px;
}

#trainer img {
    float: left;
}

#trainer .desc {
    padding-left: 180px;
}

#trainer .desc h1 {
    @extend %h1-jumbo;
    float: left;
}

#trainer .desc p {
    @extend %p-jumbo;
    float: left;

}





// #trainer img {
//     float: left;
// }

// #trainer h1{
//     float: left;
// }

// #trainer .container {
//     float: left;
// }



// #monster {
//     float: right;
//     margin-top: 10px;
// }


// img {
//     width:15vw;
//     height:35vh;
//     // max-width:100%;
//     // height:auto;
//     // max-height:100%;
//  }



