<div class="jumbotron">

    <h1>Signup Here!</h1>
    
    <!-- <form name="teacher_form" class="container" id="teacher_form"> -->
        
        
        
        <!-- FIRST NAME -->
        <div class="form-group">
            <label for="first_name">First name</label>
            <input #firstName type="text" class="form-control"  placeholder="e.g. John">
        </div>
            
        <!-- LAST NAME -->
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input #lastName type="text" class="form-control" id="last_name" placeholder="e.g. Smith"  >
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label for="email">Email address</label>
            <input #email type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="e.g. johnsmith@hotmail.com" >
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
            <label for="password">Password</label>
            <input #password  type="password" class="form-control" id="password" placeholder="Password" >
        </div>

        <button type="submit" class="btn btn-primary" (click)="submitData({email:email.value,name:{firstName:firstName.value,lastName:lastName.value},password:password.value})">Submit</button>
    <!-- </form> -->
</div>