<div class="jumbotron">
    <h1 class="display-4">Mathemon</h1>
    <p class="lead">Battle Monsters with Math!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="btn-shawdow" href="#" role="button">Select Level</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Leaderboards</a>
      <!-- Teacher only view -->
      <a class="btn btn-primary btn-lg teacherView" href="#" role="button">View Students</a>
      <a class="btn btn-primary btn-lg teacherView" href="#" role="button">Edit Questions</a>
    </p>
</div>
