<div class="container">
    <div class="battle-box" id = "monster">
        <img src="http://i240.photobucket.com/albums/ff85/Pokestadium/sprites/official-artwork/6-Charizard.png" border="0" alt=" photo 6-Charizard.png">
        <div class="desc">
            <h1 class="display-4">Monster</h1>
            <p class="health"><i class="far fa-heart"></i><i class="far fa-heart"></i><i class="far fa-heart"></i><i class="far fa-heart"></i></p>
        </div>
    </div>
    <div class="battle-box" id = "trainer">
        <img src="https://i.imgur.com/JWC6v5e.png" title="source: imgur.com" />
        <div class="desc">
            <h1 class="display-4">Trainer</h1>
            <p class="health"><i class="far fa-heart"></i><i class="far fa-heart"></i><i class="far fa-heart"></i><i class="far fa-heart"></i></p>
        </div>
    </div>
</div>