<div class="container">
  <div class="level" id="l1" [routerLink]="['/battleground', 0]">1</div>
  <div class="level" id="l2" [routerLink]="['/battleground', 1]">2</div>
  <div class="level" id="l3" [routerLink]="['/battleground', 2]">3</div>
  <div class="level" id="l4" [routerLink]="['/battleground', 3]">4</div>
  <div class="level" id="l5" [routerLink]="['/battleground', 4]">5</div>
  <div class="level" id="l6" [routerLink]="['/battleground', 5]">6</div>
  <div class="level" id="l7" [routerLink]="['/battleground', 6]">7</div>
  <div class="level" id="l8" [routerLink]="['/battleground', 7]">8</div>
  <div class="level" id="l9" [routerLink]="['/battleground', 8]">9</div>  
</div>
