<div class="container">
  <div *ngIf="highestLevel >= 0" class="level" id="l1" [routerLink]="['/battleground', 0]">1</div>
  <div *ngIf="highestLevel >= 1" class="level" id="l2" [routerLink]="['/battleground', 1]">2</div>
  <div *ngIf="highestLevel >= 2" class="level" id="l3" [routerLink]="['/battleground', 2]">3</div>
  <div *ngIf="highestLevel >= 3" class="level" id="l4" [routerLink]="['/battleground', 3]">4</div>
  <div *ngIf="highestLevel >= 4" class="level" id="l5" [routerLink]="['/battleground', 4]">5</div>
  <div *ngIf="highestLevel >= 5" class="level" id="l6" [routerLink]="['/battleground', 5]">6</div>
  <div *ngIf="highestLevel >= 6" class="level" id="l7" [routerLink]="['/battleground', 6]">7</div>
  <div *ngIf="highestLevel >= 7" class="level" id="l8" [routerLink]="['/battleground', 7]">8</div>
  <div *ngIf="highestLevel >= 8" class="level" id="l9" [routerLink]="['/battleground', 8]">9</div>
</div>
