<div class="container">
    <h1 *ngIf="!isPositionQuestion">
        <span id="num1">{{problem.left_side}}</span>
        <span id="operator">{{problem.expression}} </span>
        <span id="num2">{{problem.right_side}}</span> =
        <input #solution type="number" placeholder="?" (keyup.enter)="checkAnswer(solution.value)"/>
    </h1>
    <h1 *ngIf="isPositionQuestion">
        <span id="expression">What is the value of the number in the {{problem.expression}} position?</span>
        <span id="number">{{problem.hundreds}}{{problem.tens}}{{problem.ones}} </span>
        <input #solution type="number" placeholder="?" (keyup.enter)="checkAnswer(solution.value)"/>
    </h1>
</div>
