<div class="jumbotron">
    <h1 class="display-4">Mathemon</h1>
    <p class="lead">Battle Monsters with Math!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/level-select" routerLinkActive="active" role="button">Select Level</a>
      <a class="btn btn-primary btn-lg"  role="button">Leaderboards</a>
      <!-- Teacher only view -->
      <a class="btn btn-primary btn-lg teacherView" routerLink="/student-signup" role="button" *ngIf="isTeacher">Signup Students</a>
      <a class="btn btn-primary btn-lg teacherView" routerLink="/" role="button" *ngIf="isTeacher">Edit Questions</a>
      <!-- Student Only View -->
      <a class="btn btn-primary btn-lg teacherView" routerLink="/avatar-selection" role="button" *ngIf="!isTeacher">Choose Avater</a>
    </p>
</div>
